<div class="container-fluid">
  <div class="shadow-sm p-3 bg-success">
      <div class="row">
        <div class="col-md-8 text-light">
          <h4><i class="far fa-list-alt"></i> COMPANY PROFILE</h4>
          <%= @company_detail.company_name.upcase %> - <%= @company_detail.registration %><br>
          <small class="p-1 bg-secondary"><%= @company_detail.industry.upcase %></small>
        </div>
        <div class="col-md-4">
          <a href="/" class="float-right text-warning"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a>
        </div>
      </div><!-- end row-->
  </div><!-- end box-shadow-->

<div class="card">
  <div class="card-body">
    <h5 class="card-title text-success ">About us</h5>
    <p class="card-text text-muted text-justify"><%= @company_detail.description.capitalize %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header text-success">
        Contacts
      </div>
      <div class="card-body text-muted">
        <p class="card-text"><i class="fas fa-envelope-square"></i> <%= @company_detail.email %></p>
        <p class="card-text"><i class="fas fa-phone-square"> </i>  <%= @company_detail.tel %></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header text-success">
        Recent Jobs
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>

</div>
</div> <!-- end container-->
