<div class="container">
  <%=@applicant.name%>
  <hr>
  <h3>cv</h3>
  <%@users_display_cv.each do|users_display_cv|%>
  <%=users_display_cv.identification_type%> <br>
  <%=users_display_cv.id_passport%> <br>
  <%=users_display_cv.gender%> <br>
  <%=users_display_cv.ethnicity%> <br>
  <%end%>
</div>
