<%=render'shared/search_service_provider'%>
 <div class="shadow-sm p-3 mb-5 bg-white rounded">
   <div class="container-fluid">
     <div class="row">
       <div class="col-lg-12">
         <div class="table-responsive">
           <table class="table table-hover">
               <% @users .each do |user| %>
                 <%= content_tag :tr, id: dom_id(user), class: dom_class(user) do %>
                 <tr>
                   <td width="3%">
                     <%user.cvs.each do|cv_details| %>
                     <% if cv_details.avatar.attached? %>
                       <%= image_tag cv_details.avatar.variant(resize:"80x80"), height: 80, width: 80, class:"rounded margin-bottom-20 " %>
                     <%else%>
                     <%= image_tag ("placeholder_avatar.png"), height: 80, width: 80, class: "rounded margin-bottom-20 img-thumbnail" %>
                     <%end%>
                     <%end%>
                   </td>
                   <td><%=link_to user do %>
                    <span style="font-size: larger"><%=user.name.titlecase%></span>
                      <%end%>
                      <%user.cvs.each do|cv_details| %>
                      <br>
                       <small class="text-muted"><%=cv_details.gender%> | <%=cv_details.job_industry%></small>
                      <%end%>
                     <br>
                       <%if user.varification == true %>
                        <span class="badge bg-warning text-light"><i class="fas fa-check"></i> Verified</span>
                        <%else%>
                        <span class="badge bg-danger text-light"><i class="fas fa-certificate"></i> Not verified </span>
                         <%end%>
                         <span class="badge bg-success text-light"><i class="fas fa-certificate"></i> Tapscore - 8/10</span> <br>
                         <span class="badge bg-success text-light"><i class="fas fa-clock"></i> updated: <%=time_ago_in_words(user.updated_at) +" ago" %></span>
                     </td>

                     <% end %>
               <% end %>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
 </div>
