<%if user_signed_in?%>
<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <%=link_to root_path, class:"nav-link active" do %>
    <i class="fas fa-tachometer-alt"></i> Dashboard
    <%end%>
    <%if current_user.profile_type == "Individual"%>
    <%=link_to @cv_show, class:"nav-link" do %>
      <i class="fas fa-folder-open"></i> My CV <span class="badge bg-success text-light"><%=@cv_count%></span>
    <%end%>
    <a class="nav-link" href="/documents"><i class="fas fa-folder"></i> My Documents <span class="badge bg-success text-light"><%=@document_count%></span> </a>
    <a class="nav-link" href="#"><i class="fas fa-user"></i> My Jobs <span class="badge bg-success text-light">0</span> </a>
    <a class="nav-link" href="#"><i class="fas fa-star-half-alt"></i> My Tap Score <span class="badge bg-success text-light"> <%=render'shared/tap_score'%>  /10</span> </a>
    <a class="nav-link" href="#"><i class="far fa-meh-rolling-eyes"></i> My Reviews</a>
       <%else%>
     <a class="nav-link" href="/company_details"><i class="far fa-building"></i></i> Company Details</a>
     <a class="nav-link" href="/jobs/"><i class="fas fa-folder-open"></i>Jobs</a>
     <a class="nav-link" href="#"><i class="fas fa-users"></i> Applicants</a>
     <a class="nav-link" href="#"><i class="far fa-meh-rolling-eyes"></i> My Reviews</a>
    <%end%>


    <a class="nav-link" href="/users/edit"><i class="fas fa-cog"></i> Settings</a>

  </nav>
</div>
<%end%>
