<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="shadow-sm p-3 mb-5 bg-light">
          <div class="form-group">
            <label for="title">Name</label>
            <%= form.text_field :title, class: 'form-control', placeholder:'Give the document a name' %>
          </div>

          <div class="form-group">
            <%= form.file_field :file, class: 'form-control-file' %>
            <small id="passwordHelpBlock" class="form-text text-danger">
              Only Pdf files are allowed.
            </small>
          </div>

          <div class="form-group">
            <% if document.persisted? %>
              <div class="float-right">
                <%= link_to 'Destroy', document, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
            <hr>
            <%= form.submit'Upload', class: 'btn btn-primary' %>

            <% if document.persisted? %>
              <%= link_to "Cancel", document, class: "btn btn-link" %>
            <% else %>
              <%= link_to "Cancel", documents_path, class: "btn btn-link" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="shadow-sm p-3 mb-5 bg-success text-light">
          <h4>Required Documents</h4>
          <hr>
            <i class="fas fa-check-circle"></i> Certified ID Copy <br>
            <i class="fas fa-check-circle"></i> Proof of Residence not older than 3 month <br>
            <i class="fas fa-check-circle"></i> Certified  Certificate(s)<br>

        </div>
      </div>
    </div>
  </div>
