<%= form_with(model: create_cv, local: true) do |form| %>
  <% if create_cv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(create_cv.errors.count, "error") %> prohibited this create_cv from being saved:</h2>

      <ul>
      <% create_cv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="shadow-sm p-3 mb-5 bg-light">
          <div class="form-group">
            <%= form.label(:identification_type, "ID") %>
            <%= form.radio_button(:identification_type, "ID", id:'id_number', class:'form-group') %>
            <%= form.label(:identification_type, "Passport") %>
            <%= form.radio_button(:identification_type, "Passport", id:'id_number', class:'form-group') %>
            <%=form.text_field :id_passport, class:'form-control'%>
          </div>

          <div class="form-group">
            <label for="avatar"> Upload avatar</label>
            <%= form.file_field :avatar, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :date_of_birth %> <br>
            <%= form.date_select :date_of_birth, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <%= form.select :gender,['Male', 'Female'],{}, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label for="ethnicity">Ethnicity</label>
            <%= form.select :ethnicity,['Asian', 'Black','Coloured','Indian','White'],{}, class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= form.label :place_of_birth %>
            <%= form.text_field :place_of_birth, class: 'form-control' %>
          </div>

          <div class="form-group">
             <label for="disability">Do you have a Disability</label>
            <%= form.select :disability,['Not disabled', 'Disabled'], {},class: 'form-control' %>
          </div>

          <div class="form-group">
             <label for="education_type"> Education</label> <br>
                <%= form.radio_button(:education_type, "Less than high-school", checked:true) %>
                <%= form.label(:education_type, "Less than high-school") %> <br>
                <%= form.radio_button(:education_type, "Matric") %>
                <%= form.label(:education_type, "Matric") %> <br>
                <%= form.radio_button(:education_type, "Certificate") %>
                <%= form.label(:education_type, "Certificate") %> <br>
                <%= form.radio_button(:education_type, "Diploma") %>
                <%= form.label(:education_type, "Diploma") %> <br>
                <%= form.radio_button(:education_type, "Degree", id:'#radio_button_quilifications' ) %>
                <%= form.label(:education_type, "Degree/s") %> <br>
          </div>

          <div class="form-group">
            <% if create_cv.persisted? %>
              <div class="float-right">
                <%= link_to 'Destroy', create_cv, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>

            <%= form.submit'Save' ,class: 'btn btn-primary' %>

            <% if create_cv.persisted? %>
              <%= link_to "Cancel", create_cv, class: "btn btn-link" %>
            <% else %>
              <%= link_to "Cancel", create_cvs_path, class: "btn btn-link" %>
            <% end %>
          </div>
        <% end %>


      </div>
  </div><!-- col end-->
  <div class="col-lg-4">
    <%=image_tag('http://cdn.content.myfuture.com/assets/3ab7026805b2bfd7f473bbf47c29af20cbd985bb.jpg?1526411982', class:'img-fluid')%>
  </div>
  </div><!-- row end-->
</div> <!-- Container end-->
