
<div class="row">
  <div class="col-sm-6">
    <h1>Create_cvs</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_create_cv_path, class: 'btn btn-primary' do %>
    Add New Create cv
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Identification type</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Place of birth</th>
            <th>Disability</th>
            <th>Education type</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @create_cvs.each do |create_cv| %>
        <%= content_tag :tr, id: dom_id(create_cv), class: dom_class(create_cv) do %>

                      <td><%= create_cv.identification_type %></td>
                      <td><%= create_cv.gender %></td>
                      <td><%= create_cv.date_of_birth %></td>
                      <td><%= create_cv.place_of_birth %></td>
                      <td><%= create_cv.disability %></td>
                      <td><%= create_cv.education_type %></td>


            <td><%= link_to 'Show', create_cv %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
