<%= form_with(model: cv, local: true) do |form| %>

<%= render 'errors', cv: @cv %>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-8">
    <div class="shadow-sm p-3 mb-5 bg-light">
      <div class="form-row">
        <div class="form-group col-md-4">
          <h4><%=current_user.name%></h4>
        </div>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button(:identification_type, "ID", id:'id_number', class:'form-check-input') %>
         <label class="form-check-label" for="form-check-label">ID</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button(:identification_type, "Passport", id:'Passport_number', class:'form-check-input') %>
        <label class="form-check-label" for="Passport"> Passport</label>
      </div>

      <div class="form-group">
        <%=form.text_field :id_passport, class:'form-control', placeholder:'ID/Passport'%>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.select :gender,['Male', 'Female'],{prompt: "Select Gender"}, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= form.select :ethnicity,['Asian', 'Black','Coloured','Indian','White'],{prompt:"Select Ethnicity"}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.select :disability,['Not disabled', 'Disabled'], {prompt:"Do you have a Disability"},class: 'form-control' %>
        </div>

        <div class="form-group col-md-6" style="margin-top: -9px">
        <p> <small>Date of Birth</small><br>
          <%= form.date_select :date_of_birth, start_year: 1900, end_year: Date.today.year,class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <%=form.text_field :place_of_birth, class:'form-control', placeholder:'Place of Birth'%>
      </div>

      <div class="form-group">
         <label for="education_type"> Education</label> <br>
            <%= form.radio_button(:education_type, "Less than high-school", checked:true) %>
            <%= form.label(:education_type, "Less than high-school") %> <br>
            <%= form.radio_button(:education_type, "Matric") %>
            <%= form.label(:education_type, "Matric") %> <br>
            <%= form.radio_button(:education_type, "Certificate") %>
            <%= form.label(:education_type, "Certificate") %> <br>
            <%= form.radio_button(:education_type, "Diploma") %>
            <%= form.label(:education_type, "Diploma") %> <br>
            <%= form.radio_button(:education_type, "Degree", id:'#radio_button_quilifications' ) %>
            <%= form.label(:education_type, "Degree/s") %> <br>
      </div>

      <div class="form-group jumbotron jumbotron-sm">
        <small id="passwordHelpBlock" class="form-text text-danger">
          Upload Avatar
        </small>
        <%= form.file_field :avatar, class: 'form-control-file' %>
      </div>

      <hr>
      <div class="form-group">
        <% if cv.persisted? %>
          <div class="float-right">
            <%= link_to 'Destroy', cv, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

        <%= form.submit class: 'btn btn-primary' %>

        <% if cv.persisted? %>
          <%= link_to "Cancel", cv, class: "btn btn-link" %>
        <% else %>
          <%= link_to "Cancel", cvs_path, class: "btn btn-link" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <%=render'shared/tracking'%>
  </div>
</div> <!--row end !-->
</div><!--container end !-->





<% end %>
