


<div class="row">
  <div class="col-sm-6">
    <h1>Cvs</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_cv_path, class: 'btn btn-primary' do %>
    Add New Cv
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Identification type</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @cvs.each do |cv| %>
        <%= content_tag :tr, id: dom_id(cv), class: dom_class(cv) do %>


                      <td><%= cv.identification_type %></td>
                      <td><%= cv.id_passport %></td>

            <td><%= link_to 'Show', cv %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
