<div class="container-fluid">
  <div class="shadow-sm p-3 mb-5 bg-light text-muted ">
     <h4><i class="far fa-list-alt"></i> SUMMARY</h4>
   </div>
   <h4 class="text-success">PERSONAL DETAILS</h4>
   <hr>
</div>
<div class="shadow-sm p-3 mb-5 bg-white">
<div class="row">

  <div class="col-lg-2">
    <% if @cv.avatar.attached? %>
      <%= image_tag @cv.avatar.variant(resize:"150x150"), class:"rounded margin-bottom-20" %>
    <%else%>
    <%= image_tag ("placeholder_avatar.png"), height: 150, width: 150, class: "rounded margin-bottom-20" %>
    <%end%>

  </div>
  <div class="col-lg-6">
    <div class="table-responsive-sm">
        <table class="table table-sm">
        <strong><p class="text-success">CURRICULUM VITEA</p></strong>
          <tbody>
            <tr class="d-flex"></tr>
         </tbody>
      <%if current_user && @cv.user == current_user%>
            <tr>
              <td><strong>Full Name:</strong></td>
              <td><%=current_user.name%></td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td><%=current_user.email%></td>
            </tr>

            <tr>
              <td><strong>ID/Passport:</strong></td>
              <td>  <%= @cv.id_passport%>
                <%if @cv.identification_type == "ID" %>
                  <small class="badge bg-success text-light"><i class="fas fa-user"></i> ID</small>
                  <%else%>
                  <small class="badge bg-success text-light"><i class="fas fa-user"></i> Passport</small>

                  <%end%>
              </td>
            </tr>

            <tr>
              <td><strong>Date of Birth:</strong></td>
              <td><%= @cv.date_of_birth %></td>
            </tr>

             <tr>
               <td><strong>Gender:</strong></td>
               <td><%= @cv.gender %></td>
             </tr>

             <tr>
               <td><strong>Ethnicity:</strong></td>
               <td><%= @cv.ethnicity %></td>
             </tr>

             <tr>
               <td><strong>Place of Birth:</strong></td>
               <td><%= @cv.place_of_birth %></td>
             </tr>

             <tr>
               <td><strong>Disability:</strong></td>
               <td><%= @cv.disability %></td>
             </tr>

             <tr>
               <td><strong>Education:</strong></td>
               <td><%= @cv.education_type %></td>
             </tr>

             <tr>
               <td><strong>Verification:</strong></td>
               <td><%if @current_user.varification == true %>
                <span class="badge bg-danger text-light"><i class="fas fa-certificate"></i> verified</span>
                <%else%>
                <span class="badge bg-danger text-light"><i class="fas fa-certificate"></i> Not verified </span>
                 <%end%>
               </td>
             </tr>
          <%end%>
        </table>

        <div class="table-responsive">
          <table class="table table-hover">
            <strong><p class="text-success">DOCUMENTS</p></strong>

            <tbody>
              <% @documents.each do |document| %>
                <%= content_tag :tr, id: dom_id(document), class: dom_class(document) do %>
                <% if current_user && document.user == current_user %>
                <tr class="active">
                  <td>
                    <%= link_to document do %><i class="far fa-file-pdf text-danger"></i> <%= document.title %></td>
                   <%end%>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="badge bg-success " ><%= link_to document.file, download:'' do %>
                    <i class="fas fa-file-download text-light" data-toggle="tooltip" title="Download" ></i> DOWNLOAD</span>
                    <%end%>
                    </td>
                    <% end %>
                <% end %>
              <% end %>
              <tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <%=render'shared/tracking'%>
  </div>
</div>
  </div>
</div>
